/* Foonts */
@font-face {
    font-family: 'Gotham';
    src: url('../fonts/GothamLight.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/GothamBold.ttf');
    font-weight: bold;
}

/* My variables */
:root {
    --Color-gray: #7B7B7B;
    --Color-gray-secondary: #181818;
    --Color-white: #fff;
    --Color-black: #000;
    --Color-second-black: #272A2E;

    --family: 'Gotham';
}

html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--family);
    font-size: 1.6rem;
    line-height: 2;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
span,
p {
    margin: 0 !important;
    padding: 0 !important;
}

a {
    text-decoration: none;
    color: var(--Color-gray);
}

li {
    display: flex;
    margin-bottom: 1.2rem;
    column-gap: 2rem;
}

aside {
    width: 100%;
    height: 100vh;
    max-width: 24rem !important;
    background-color: black;
}

header {
    display: flex;
    position: relative !important;
    z-index: 20 !important;
}

main {
    width: 100%;
    max-width: 167.1rem;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: row;
}

/* Start my settings */
/* -> Aside */
.logo {
    width: 100%;
    max-width: 13.3rem;
    height: 4.4rem;
    padding: 2.8rem;
}

.list-links {
    display: flex;
    flex-direction: column;
    padding: 0 0 0 3rem;
}

.list-links li:hover a {
    color: var(--Color-white);
    transition: all 0.3s ease-in-out;
}

.list-links li:hover svg path {
    fill: var(--Color-white);
    transition: all 0.3s ease-in-out;
}

.list-links li:hover .border-plus {
    background-color: var(--Color-white);
    transition: all 0.3s ease-in-out;
}

.list-links li:hover .border-plus svg path {
    fill: var(--Color-black);
    transition: all 0.3s ease-in-out;
}

.links {
    font-weight: bold;
    font-size: 1.4rem;
}

.border-plus {
    background-color: var(--Color-gray);
    border-radius: 0.2rem;
    text-align: center;
    width: 2.5rem;
    height: 2.5rem;
}

.second-block {
    margin-top: 4rem;
}

.border-heart {
    background: rgb(246, 224, 94);
    background: linear-gradient(128deg, rgba(246, 224, 94, 1) 0%, rgba(72, 112, 198, 1) 0%, rgba(87, 115, 228, 1) 51%, rgba(255, 255, 255, 1) 100%);
    border-radius: 0.2rem;
    text-align: center;
    width: 2.5rem;
    height: 2.5rem;
    filter: brightness(40%);
}

.list-links li:hover .border-heart {
    transition: all 0.3s ease-in-out;
    filter: brightness(100%);
}

.divide-1 {
    border-color: var(--Color-gray);
    filter: brightness(35%);
    width: 100%;
    max-width: 20rem;
    margin: 1rem auto;
}

/* Start section main */
.background {
    background: rgb(246, 224, 94);
    background: linear-gradient(180deg, rgba(246, 224, 94, 1) 0%, rgba(65, 65, 65, 1) 0%, rgba(0, 0, 0, 1) 56%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    height: auto;
    min-height: 100vh;
}


.buttons {
    width: 100%;
    max-width: 116.97rem;
    display: flex;
    column-gap: 0.7rem;
    padding: 1.8rem 0 0 2.8rem;
}

.btn-izq {
    font-size: 2rem;
}

.btn-background {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    background-color: var(--Color-black);
}

.profile {
    width: 100%;
    max-width: 50.13rem;

    padding: 1.8rem 1rem 0 0;

    display: flex;
    justify-content: end;
    column-gap: 2rem;
}

.profile-logo {
    width: 3rem;
}

.profile-info {
    display: none;
}

.content-info {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;

    background: var(--Color-black);
    border-radius: 3rem;
    width: 18rem;
    height: 3rem;
}

.content-info .content-text a {
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--Color-white);
}

.welcome-user {
    margin-bottom: 2rem !important;
}

.cont-albums {
    width: 100%;
    max-width: 90rem;
    margin-top: 4rem;
    padding: 0 0 0 3rem;
    color: var(--Color-white);
}

.cont-card {
    display: flex;
    flex-wrap: wrap;

    width: 100%;
    max-width: 90rem;
    padding: 0 1rem 0 1;
    margin-bottom: 2rem;
    gap: 1rem;
}

.card-container {
    background-color: var(--Color-second-black);
    filter: brightness(80%);

    display: flex;
    gap: 1rem;

    width: calc(100% / 2 - 3.2rem);
    height: 8.2rem;

    border-radius: 0.5rem;
}

.card-info {
    height: 8rem;
    display: flex;
    align-items: center;
}

.card-info a {
    font-weight: bold;
    color: var(--Color-white);
}

.card-image .image {
    width: 7.9rem;
    height: 8.2rem;
    border-top-left-radius: 0.6rem;
    border-bottom-left-radius: 0.6rem;
    box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.1);
}

.card-container:hover {
    filter: brightness(100%);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

/* Start navigation music */
.navigation-music {
    width: 100%;
    max-width: 90rem;
    margin-top: 3rem;
}

.nav-first {
    padding: 0 3rem 0 3rem;
}

.nav-text {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.white {
    color: var(--Color-white) !important;
}

.nav-text>a {
    margin-top: 1rem;
    font-size: 1.6rem;
    font-weight: bold;
}

.nav-text>a:hover,
.white:hover {
    text-decoration: underline;
}

/* Start styles for -> Playlist */
.playlist {
    width: 100%;
    max-width: 90rem;
    margin-top: 4rem;
    padding: 0 3rem 0 3rem;

    display: flex;
    gap: 1.8rem;
}


.playlist__cont {
    width: calc(100% / 3 - 3.2rem);
    height: 29.1rem !important;
    color: var(--Color-white);
    font-size: 1.3rem;

    border-radius: 0.3rem;
    background-color: var(--Color-gray-secondary);
    transition: all 0.3s ease-in-out;
    filter: brightness(85%);
    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.playlist__cont:hover {
    filter: brightness(100%);
}

.playlist-image img {
    width: 16.5rem;
    height: 16.6rem;
    border-radius: 0.3rem;
    box-shadow: 10px 1px 29px -8px rgba(0, 0, 0, 0.75);
}

.playlist__information {
    padding: 0 0 0 1.5rem;
}


@media (min-width: 999px) {

    /* Section playlist */
    .cont-albums {
        width: 100%;
        max-width: 160rem;
    }

    .cont-card {
        width: 100%;
        max-width: 160rem;
    }

    .card-container {
        width: calc(100% / 3 - 3.2rem);
    }

    .card-info a {
        font-size: 2rem;
    }

    .profile-info {
        font-size: 1.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 1rem;

        border: 0.1rem solid;
        border-color: var(--Color-gray);
        border-radius: 3rem;

        width: 10rem;
        height: 3rem;
    }

    .profile-info:hover {
        border-color: #fff;
        transition: all 0.3s ease-in-out;
    }

    .profile-info:hover a {
        color: #fff;
        transition: all 0.3s ease-in-out;
    }

    /* Start navigation music */
    .navigation-music {
        width: 100%;
        max-width: 160rem;
    }

    .nav-first {
        padding-right: 5rem !important;
    }

    /* Start playlist styles */
    .playlist {
        width: 100%;
        max-width: 160rem;
    }

    .playlist__cont {
        width: calc(100% / 6 - 3rem);
        height: 25.6rem;
        color: var(--Color-white);
        font-size: 1.3rem;

        border-radius: 0.3rem;
        background-color: var(--Color-gray-secondary);
        transition: all 0.3s ease-in-out;
        filter: brightness(85%);
        cursor: pointer;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}