/* Foonts */
@font-face {
    font-family: 'Gotham';
    src: url('../fonts/GothamLight.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/GothamBold.ttf');
    font-weight: bold;
}

/* My variables */
:root {
    --Color-gray: #7B7B7B;
    --Color-gray-secondary: #181818;
    --Color-white: #fff;
    --Color-black: #000;
    --Color-second-black: #272A2E;
    --Color-green: #1ed760;
    --Color-meta: #405a93;

    --family: 'Gotham';
}